<!-- ******ABOUT****** --> 
<section id="about" class="about section">
  <div class="container">
    <h2 class="title text-center">What is Zetta API?</h2>
    <p class="intro text-center">The Zetta API is a REST specification for the Internet of Things. Zetta's primary resource is a device. Each device is a collection of properties at a specific moment in time and a collection of actions that can transition the device from its current state to a new state. Device representations are transferred via HTTP request-response and via WebSockets for streaming data. The Zetta API is implemented on popular servers like Node.js and popular clients like iOS. Clients request device actions in order to transition the device from one state to the next. Along with traditional HTTP request and response style, each device representation also includes WebSocket streams so that changes in device state and available actions are sent from the server to the client without the need for client polling. The Zetta API is designed as a true REST client-server system where hypermedia can be the engine of application state.</p>
</div><!--//container-->
</section><!--//about-->
