    <!-- ******FEATURES****** --> 
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">Projects</h2>
            <h3 class="subtitle">Open Source Clients</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i> iOS: <a href="https://github.com/zettaios" target="_blank">Zetta iPhone App</a></li>
                <li><i class="fa fa-check"></i> iOS: <a href="https://github.com/zettajs/zettakit" target="_blank">ZettaKit SDK</a></li>
                <li><i class="fa fa-check"></i> JavaScript: <a href="https://github.com/zettajs/node-zetta-client" target="_blank">Zetta Client</a></li>
            </ul>
            <h3 class="subtitle">Open Source Servers</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i> Node.js: <a href="http://www.zettajs.org/" target="_blank">Zetta.js</a></li>
                <li><i class="fa fa-check"></i> Ruby on Rails: <a href="https://github.com/zettarb" target="_blank">Zetta on Rails (early alpha)</a></li>
            </ul>
            <h3 class="subtitle">Commercial Products</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i> <a href="http://jilia.io/" target="_blank">Jilia by Centalite</a></li>
                <li><i class="fa fa-check"></i> <a href="http://apigee.com/about/products/apigee-link" target="_blank">Apigee Link</a></li>
            </ul>
        </div><!--//container-->
    </section><!--//features-->
