    <!-- ******LICENSE****** --> 
    <section id="icons" class="icons section">
        <div class="container">
            <div class="icons-inner">
            <h2 class="title text-center">Icons</h2>
                <div class="info">
                    <p>The Zetta API includes a community-driven collection of device icons for various device states. Check out the complete <a href="https://github.com/zettaapi/icons">icon list on GitHub</a>. The URL format for device icons follows the pattern below.</p>
                </div><!--//info-->
                <div class="code-block"><pre><code class="language-markup">http://www.zettaapi.org/icons/{device-type}-{device-state}.png

http://www.zettaapi.org/icons/robot-opening-window.png
</code></pre></div>
                <div class="state-image"><img src="http://www.zettaapi.org/icons/robot-opening-window.png"></div>
                <div class="cta-container">
                    <div class="speech-bubble">                    
                        <p class="intro">If you would like an icon that doesn't exist, please ask our community by creating a <a href="https://github.com/zettaapi/icons/issues">new icon request</a> on GitHub.</p>
                        <div class="icon-holder  text-center"><i class="fa fa-smile-o"></i></div>
                    </div><!--//speech-bubble-->
                </div><!--//cta-container-->
            </div><!--//icons-inner-->
        </div><!--//container-->
    </section><!--//how-->
